@charset "UTF-8";
/* CSS Document */
.cf:after {
  content: "";
  clear: both;
  display: block;
}
img{
	vertical-align: bottom;
}
body{
	margin: 0;
	padding: 0;
	font-size: 16px;
	color: #000;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	background: #fff;
	line-height: 1.5;
}
#wrapper{
	width: 980px;
	margin: 0 auto;
}

header{
	width:288px;
	text-align: center;
	display:inline;
}
header h1{
	margin: 0;
	padding: 0;
	text-align: center;
}

header ul{
	text-align: center;
}
header ul li{
	display: inline;
}
	
ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

	
	

nav{
	background: url("../img/sfimg/1x/1x/sf_nav_correct.png");
	clear: right;
}
nav ul{
	margin: 10px 0 0 0;
	padding: 0;
	text-align: center;
	font-size: 0;
}
nav ul li{
	display:inline-block;
    
}
nav ul li a{
	display: block;

}
#top_main{
	margin: 0;
	clear: both;
	text-align: center;
}
main{
	clear: both;
}
.tapper{
	margin: 100px;
	padding:0;
	font-size: 0;
	text-align: center;
	display: inline;
}
.left_box{
	margin: 10px 0 0 0;
	width: 448.5px;
	float: left;
	
}
.content{
	width:490px;
	float: right;
}
.center_box{
	width: 200px;
	float: left;
}
.right_box{
	margin: 0;
	padding: 0;
	font-size: 16px;
	height: 200px;
	width: 200px;
	float: right;
	text-align: center;
}
.group{
	width: 367px;
	margin: 10px;
	padding: 3px;
}


footer{
	text-align: right;
	background: #ccc;
	padding: 50px 10px 10px 0;
	clear: both;
}
footer small{
	font-size: 12px;
}